notebook==5.3.1
numpy==1.14.0
pandas==0.22.0
requests==2.18.4
web3==3.16.4
schedule==0.5.0
jupyterlab==0.31.10
eth-abi==0.5.0
eth-hash==0.1.0
eth-keyfile==0.4.1
eth-keys==0.1.0b4
eth-tester==0.1.0b15
eth-utils==0.7.3
sparkmagic==0.12.5
